<div class="container" fxLayoutAlign="flex-start center">
  <a [routerLink]="['/users']" fxLayoutAlign="flex-start center">
    <p>{{ name }}</p>
    <div
      class="img-wrapper"
      [ngStyle]="{
        backgroundImage: 'url(' + image + ')'
      }"></div>
  </a>
  <button mat-icon-button [matMenuTriggerFor]="settingsMenu">
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #settingsMenu="matMenu">
    <button mat-menu-item>
      <a routerLink="/profile/edit">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </a>
    </button>
    <button mat-menu-item>
      <mat-icon>exit_to_app</mat-icon>
      <span>Log Out</span>
    </button>
  </mat-menu>
</div>
