<h2 mat-dialog-title>New note</h2>
<mat-dialog-content>
  <form
    class="container"
    fxLayout="column"
    fxLayoutGap="10px"
    #form="ngForm"
  >
    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="Title"
        #title
        ngModel
      >
      <mat-error *ngIf="title.errors['required']">Title cannot be empty</mat-error>
    </mat-form-field>
    <mat-form-field>
    <textarea
      matInput
      placeholder="Description"
      ngModel
    ></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="accent" mat-dialog-close>Close</button>
  <button
    mat-raised-button
    color="primary"
    [mat-dialog-close]="form"
  >
    Close
  </button>
</mat-dialog-actions>
