<app-layout>
  <app-profile-header
    [name]="'Alex'"
    [online]="true"
    [status]="'Find your why'"
    [avatar]="'https://i.pinimg.com/736x/c4/9f/c2/c49fc22c4870e38d62aab440ad93f93d.jpg'"
    [background]="'https://images.unsplash.com/photo-1470955233021-2c79a52e5034?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=54f1bf33c0d572309ed7e23c3ac09b21&w=1000&q=80'"
  ></app-profile-header>
  <div fxLayout>
    <div class="col">
      <app-profile-about></app-profile-about>
    </div>
  </div>
</app-layout>
