<form [formGroup]="form" (ngSubmit)="submitForm()">
  <mat-form-field>
    <input
      type="text"
      matInput
      placeholder="Old password"
    >
    <mat-error *ngIf="form.get('oldPassword').hasError('required')">Password cannot be empty</mat-error>
    <mat-error *ngIf="form.get('oldPassword').hasError('minLength')">Password should have at least 3 characters</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      type="text"
      matInput
      formControlName="password"
      placeholder="New password"
    >
    <mat-error *ngIf="form.get('password').hasError('required')">Password cannot be empty</mat-error>
    <mat-error *ngIf="form.get('password').hasError('minLength')">Password should have at least 3 characters</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      type="text"
      matInput
      formControlName="confirmPassword"
      placeholder="Confirm password"
    >
    <mat-error *ngIf="form.get('confirmPassword').hasError('required')">Password cannot be empty</mat-error>
    <mat-error *ngIf="form.get('confirmPassword').hasError('minLength')">Password should have at least 3 characters</mat-error>
  </mat-form-field>
  <button mat-button type="submit">Update</button>
</form>
